<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About</div>
                        <p>Hi I'm <strong>Tamal das</strong>. Currently I am a Backend developer with extensive
                            experience in Java, Angular8, Spring, python, DevOps for more than 4 years</p>
                        <p>
                            Love to innovate and searching for new ways to improve in professional and personal life.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth:</strong>
                            </div>
                            <div class="col-sm-8">Jan 24, 1994</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">das.tamal00496@gmail.com</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Phone:</strong>
                            </div>
                            <div class="col-sm-8">+91 7003192645</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Language:</strong>
                            </div>
                            <div class="col-sm-8">Bengali, Hindi, English</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>