<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2012 - 2016</p>
                        <div class="h5">Bachelor's Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Bachelor of Engineering</div>
                        <h4 class="category">Bengal Institue of technology
                        </h4>
                        <ul>
                            <li>Completed B.Tech in Electronics and Communication Engineering</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2010 - 2012</p>
                        <div class="h5">Higher Secondary</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Higher Secondary</div>
                        <h4 class="category">Jodhpur Park Boy's high School
                        </h4>
                        <ul>
                            <li>
                                The place where all started making sense.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>