<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
        <div class="row">
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" href="#" src="assets/images/p12.PNG" alt="Card image"
                            style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Personal Portfolio Using Angular8</h4>
                            <h5 class="card-text"><b>Stack :</b> Angular9,Bootstrap4 </h5>
                            <a href="https://github.com/tamal2401/Portfolio-Website-Angular8" target="_blank" class="btn btn-primary stretched-link">GithubLink</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/p2.PNG" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">File Encrypter</h4>
                            <h5 class="card-text"><b>Stack :</b> Java, Swing, AWT </h5>
                            <a href="https://github.com/tamal2401/Image-Encoder" target="_blank" class="btn btn-primary stretched-link">GithubLink</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" href="https://covid-tracker-20.herokuapp.com/welcome" src="assets/images/p1.PNG" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Corona tracker</h4>
                            <h5 class="card-text"><b>Technology :</b> Java8, Spring, HTML,CSS, JS, Thymleaf </h5>
                            <a href="https://github.com/tamal2401/Covid-Tracker" target="_blank" class="btn btn-primary stretched-link">GithubLink</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/p3.PNG" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Chatbot using Java and AIML</h4>
                            <h5 class="card-text"><b>Technology :</b> Java, AWT, AIML </h5>
                            <a href="https://github.com/tamal2401/Friday-Chatbot" target="_blank"
                                class="btn btn-primary stretched-link">GithubLink</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/p5.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <br>
                            <br>
                            <h4 class="card-title">Connect4</h4>
                            <h5 class="card-text"><b>Technology :</b> HTML5, CSS3, Vanila Js </h5>
                            <a href="https://github.com/tamal2401/Connect-Four" target="_blank" class="btn btn-primary stretched-link">GithubLink</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/p4.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Java Marathon</h4>
                            <h5 class="card-text"><b>Technology :</b> Java9, Spring(Cloud, Batch, Security, Rx Java,)
                            </h5>
                            <a href="https://github.com/tamal2401/Java-Series" target="_blank" class="btn btn-primary stretched-link">GithubLink</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
