<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
        <div class="row">
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" href="#" src="assets/images/portfolio.PNG" alt="Card image"
                            style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Personal Portfolio Using Angular8</h4>
                            <h5 class="card-text"><b>Stack :</b> Angular9,Bootstrap4 </h5>
                            <a href="#" class="btn btn-primary stretched-link">GithubLink</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/p2.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">File Encrypter</h4>
                            <h5 class="card-text"><b>Stack :</b> Java, Swing, AWT </h5>
                            <a href="#" class="btn btn-primary stretched-link">GithubLink</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" href="https://covid-tracker-20.herokuapp.com/welcome" src="assets/images/p1.PNG" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Corona tracker</h4>
                            <h5 class="card-text"><b>Technology :</b> Java8, Spring, HTML,CSS, JS, Thymleaf </h5>
                            <a href="#" class="btn btn-primary stretched-link">GithubLink</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/p3.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Chatbot using Java and AIML</h4>
                            <h5 class="card-text"><b>Technology :</b> Java, AWT, AIML </h5>
                            <a href="https://github.com/mehulk05?tab=repositories"
                                class="btn btn-primary stretched-link">GithubLink</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/p5.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Connect4</h4>
                            <h5 class="card-text"><b>Technology :</b> HTML5, CSS3, Vanila Js </h5>
                            <a href="#" class="btn btn-primary stretched-link">GithubLink</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/p6.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Simple Chat Application Using Firebase</h4>
                            <h5 class="card-text"><b>Technology :</b> Android,Java,Firebase </h5>
                            <h5 class="card-text"><a
                                    href="https://code.tutsplus.com/tutorials/how-to-create-an-android-chat-app-using-firebase--cms-27397">
                                    Read Blog on this Project</a></h5>
                            <a href="https://github.com/mehulk05?tab=repositories"
                                class="btn btn-primary stretched-link ml-2 mr-5">See Project</a>
                            <a href="https://github.com/mehulk05?tab=repositories"
                                class="btn btn-primary stretched-link">GithubLink</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="blog-entry">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/p8.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">Java Marathon</h4>
                            <h5 class="card-text"><b>Technology :</b> Java9, Spring(Cloud, Batch, Security, Rx Java,)
                            </h5>
                            <a href="#" class="btn btn-primary stretched-link">GithubLink</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>